# Patterns

#### Rules while solving pattern problems
* Find number of rows
* Write down for each row (what's happening/logic/observe pattern)
* Print the pattern

In [16]:
for i in range(3):
    print("Outer loop:", i) # Outer loop indicates no of rows
    for j in range(3):
        print("Inner loop", j) # Inner loop indicates what's happening inside each rows
    print()

Outer loop: 0
Inner loop 0
Inner loop 1
Inner loop 2

Outer loop: 1
Inner loop 0
Inner loop 1
Inner loop 2

Outer loop: 2
Inner loop 0
Inner loop 1
Inner loop 2

# 1.Square Pattern
       * * * * 
       * * * * 
       * * * * 
       * * * * 
- Lets print Square pattern, so as per rules
- No of rows (outer loop): 4
- logic: 4 stars to be printed, & after printing in each row go to next line

In [17]:
for i in range(4): # outer loop -> rows
    # for each row print 4 stars
    for j in range(4): # inner loop -> print 4 stars
        print("*", end=' ')
    print() # to go to next line after printing stars in a row

* * * *
* * * *
* * * *
* * * *

# 2. Rectangle Pattern

In [18]:
for i in range(3): # outer loop
    # for each row print 3 stars
    # inner loop -> print 5 stars
    for j in range(5):
        print("*", end=' ')
    print()

* * * * *
* * * * *
* * * * *

# 3. Hollow Square

        * * * * * 
        *       * 
        *       * 
        *       * 
        * * * * * 

1. Outer loop -> No of rows r0, r1, r2, r3, r4 -> 5 rows
2. Create logic 
-  Inner loop has
- r0 has 5 stars
- r1 has 1 star, 3 space, 1 star
- r2 has 1 star, 3 space, 1 star
- r3 has 5 stars
3. Print pattern

In [19]:
for row in range(5):
    for col in range(5):
        if row== 0 or row ==4:
            print("*", end=' ')
        else:
            if col == 0 or col == 4:
                print("*", end= ' ')
            else:
                print(" ", end=' ')
    print()

* * * * *
*       *
*       *
*       *
* * * * *

# Hollow Rectangle
#### With input rows =10, columns = 7

In [20]:
ROWS = 10
COLS = 7
for row in range(ROWS):
    for col in range(COLS):
        if row == 0 or row == ROWS-1:
            print("*", end=' ')
        else:
            if col == 0 or col == COLS-1:
                print("*", end=' ')
            else:
                print(" ", end=' ')
    print()

* * * * * * *
*           *
*           *
*           *
*           *
*           *
*           *
*           *
*           *
* * * * * * *

# 4. Half Pyramid
        * 
        * * 
        * * * 
        * * * * 
- Outer loop -> 4 rows
- logic -> inner loop has:
- r0: 1 star
- r1: 2 star
- r2: 3 star
- r3: 4 star
- So every col will have row+1 stars, then print pattern

In [ ]:
n=4
for row in range(n):
    for col in range(row+1):
        print("*", end=' ')
    print()

*
* *
* * *
* * * *

# 5. Inverted Half Pyramid
        * * * * 
        * * * 
        * * 
        * 
- outer loop -> 4 rows
- logic -> inner loop has:
- r0: 4 star
- r1: 3 star
- r2: 2 star
- r3: 1 star
- So every col will have n-row stars, then print pattern

In [22]:
n = 4
for row in range(4):
    for col in range(n-row):
        print("*", end=' ')
    print()

* * * *
* * *
* *
*

# 6. Numeric Half Pyramid
        1 
        1 2 
        1 2 3 
        1 2 3 4 

- outer loop -> 4 rows
- logic -> inner loop has:
- r0: 1
- r1: 1 2
- r2: 1 2 3
- r3: 1 2 3 4
- So every col wil have row+1 symbols(numerics)
- So c0 will have all 1's, c2 will have all 2's, c3 will have all 3's ...
- That is c0=c0+1 = 0+1 = 1, c1= 1+1 =2, c2= 2+1=3... (Instead of star we will print numerics)
- Print the pattern

In [23]:
n = 4
for row in range(n):
    for col in range(row+1):
        print(col+1, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4

# 7. Inverted Numeric Half Pyramid

In [24]:
n = 5
for row in range(n):
    for col in range(n-row):
        print(col+1, end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

# 8. Full Pyramid

        ----* 
        ---* * 
        --* * * 
        -* * * * 
        * * * * *     

- NOTE: Dash denotes spaces
-----------------------------------------------------------
- Outer loop-> n =5 rows
- logic -> inner loop has
- r0: 4 space, 1 star
- r1: 3 space, 2 star
- r2: 2 space, 3 star
- r3: 1 space, 4 star
- r4: 0 space, 5 star
------------------------------------------------------------------
- Now create logic for printing stars
- To get stars row-wise we will add 1 to each rows i.e row+1
-----------------------------------------------------------------
- To get space row-wise: 
- Lets try to create logic
- n-r0-1 -> 5-0-1 = 4 space
- n-r1-1 -> 5-1-1 = 3 space
- n-r2-1 -> 5-2-1 = 2 space and so on
- So above logic matches with spaces then print pattern

In [32]:
n = 5
# outer loop
for row in range(n):
    # Inner loop
    # To print space
    for col in range(n-row-1):
        print("", end=' ')
    # To print stars
    for col in range(row+1):
        print("*", end=' ')
    print()

    *
   * *
  * * *
 * * * *
* * * * *

# 9. Inverted Full Pyramid

        * * * * 
        -* * * 
        --* * 
        ---* 

- Outer loop-> n =4 rows
- logic -> inner loop has
- r0 - 0 sp, 4 star
- r1 - 1 sp, 3 star
- r2 - 2 sp, 2 star
- r3 - 3 sp, 1 star
-----------------------------------------------------------------
 Now create logic for printing stars
- To get stars row-wise we will do -> n- row
-----------------------------------------------------------------
- To get space row-wise: 
- For r0 its 0 space
- For r1 its 1 space
- For r2 its 2 space & so on
- Hence it remains same, so it will be row itself
- Print the pattern

In [39]:
n = 4
for row in range(n):
    # To print spaces
    for col in range(row):
        print("", end=' ')
    # To print stars
    for col in range(n-row):
        print("*", end=' ')
    print()

* * * *
 * * *
  * *
   *

# 10. Diamond

In [ ]:
n = 8
n = int(n/2) # n/2 is done because 4 rows of full pyramid + 4 rows of inverted full pyramid

# Full Pyramid
for row in range(n):
    # Inner loop
    # To print space
    for col in range(n-row-1):
        print("", end=' ')
    # To print stars
    for col in range(row+1):
        print("*", end=' ')
    print()

# Inverted Full Pyramid
for row in range(n):
    # To print spaces
    for col in range(row):
        print("", end=' ')
    # To print stars
    for col in range(n-row):
        print("*", end=' ')
    print()

   *
  * *
 * * *
* * * *
* * * *
 * * *
  * *
   *

# 11. Inverted V
           * 
          * * 
         *   * 
        *     * 

- Lets consider this pattern like full pyramid
- Print full pyramid
- Now * is at the start and at the end of cols
- So if there are (row+1) cols then end of the col will be row+1-1 (since indexing starts from 0)
- So for start row = 0 and for end row = row+1-1 -> print *
- And for remaining print space

In [2]:
n = 4
for row in range(n):
    for col in range(n-row-1):
        print("", end=' ')
    for col in range(row+1):
        # Now * is at start and at the end cols of the rows
        # Since indexing starts from zero, & now if there are K cols, then total no of cols will be k-1
        # Hence now there are K= row+1 cols, then total no of cols will be row+1-1
        if (col == 0 or col == row+1-1):
            print("*", end=' ')
        else:
            print(' ', end=' ')
    print()

   *
  * *
 *   *
*     *

# 12. Hollow Diamond

        * * * * * * * * * * 
        * * * * - - * * * * 
        * * * - - - - * * * 
        * * - - - - - - * * 
        * - - - - - - - - * 
        * - - - - - - - - * 
        * * - - - - - - * * 
        * * * - - - - * * * 
        * * * * - - * * * * 
        * * * * * * * * * * 

- Note: Dash denotes spaces
------------------------------------------------------
-  Lets consider this hollow diamond in 2 blocks
-  Block 1

        * * * * * * * * * * 
        * * * * - - * * * * 
        * * * - - - - * * * 
        * * - - - - - - * * 
        * - - - - - - - - * 
- So block 1 has one star pattern, 2 spaces patterns, 1 star pattern
- So create logic for block 1 as we did for earlier patterns
-------------------------------------------------------------
- Block 2

        *                 * 
        * *             * * 
        * * *         * * * 
        * * * *     * * * * 
        * * * * * * * * * * 
- Similarly create logic for block2 as we did for block 1

In [2]:
n = 10
n = int(n/2)
# Part 1 of block pattern
for row in range(n):
    # To print stars
    for col in range(n-row):
        print("*", end=' ')
    # To print spaces
    for col in range(row):
        print(' ', end=' ')
    for col in range(row):
        print(' ', end=' ')
    # To print stars
    for col in range(n-row):
        print('*', end=' ')
    print()
# Part 2 of block pattern
for row in range(n):
    # To print stars
    for col in range(row+1):
        print('*', end=' ')
    # To print spaces
    for col in range(2* (n-row-1)):  # Used now single for loop for spaces by doubling the range
        print(' ', end=' ')
    # To print stars
    for col in range(row+1):
        print('*', end=' ')
    print()

* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *
*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *

# 13. Numeric & Star Pattern

    1 * 3 * 5
    1 * 3 *
    1 * 3 
    1 *
    1

In [3]:
n = 5
for row in range(n):
    for col in range(n-row):
        if col%2 == 0: # For even cols , add 1 to col
            print(col+1, end=' ')
        else:
            print('*', end=' ')
    print()

1 * 3 * 5
1 * 3 *
1 * 3
1 *
1

# 14. Symmetric Half Diamond 1

In [4]:
n = 5
# This covers pattern block of first 5 rows
for row in range(n):
    for col in range(row+1):
        print('*', end=' ')
    print()
# This covers pattern block of 6-9 rows
for row in range(n-1):
    for col in range(n-row-1):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [6]:
# Total rows in outer loop are 9
# Hence 2*n-1 is used to get the range

n = 5
for row in range(2*n-1):
    if row < n: # From row 0 to 4 one block of star will get printed
        for col in range(row+1):
            print('*', end=' ')
        print()
    else: # From row 5 to 9 other/remaining block of star gets printed
        for col in range(2*n-row-1):
            print('*', end=' ')
        print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# 15. Symmetric Half Diamond 2

        - - - - - * 
        - - - - * * 
        - - - * * * 
        - - * * * * 
        - * * * * * 
        - - * * * * 
        - - - * * * 
        - - - - * * 
        - - - - - *

In [ ]:
n = 5
for row in range(2*n-1):
    if row < n:
        # To print spaces
        for col in range(n-row):
            print('-', end=' ')
        # To print star
        for col in range(row+1):
            print('*', end=' ')
        print()
    else:
        # To print spaces
        # 5th row - 2 space
        # 6th row - 3 space
        # 7th row - 4 space
        # 8th row - 5 space
        # 9th row - 6 space
        for col in range(row-n+2):
            print('-', end=' ')
        # To print stars
        # 5th row - 4 star
        # 6th row - 3 star
        # 7th row - 2 star
        # 8th row - 1 star
        for col in range(2*n-row-1):
            print('*', end=' ')
        print()

- - - - - *
- - - - * *
- - - * * *
- - * * * *
- * * * * *
- - * * * *
- - - * * *
- - - - * *
- - - - - *

# 16. Butterfly

        *                 * 
        * *             * * 
        * * *         * * * 
        * * * *     * * * * 
        * * * * * * * * * * 
        * * * *     * * * * 
        * * *         * * * 
        * *             * * 
        *                 *

In [ ]:
# In this Symmetric Half Diamond 1 & Symmetric Half Diamond 2 codes are combined

# Total rows in outer loop are 9
# Hence 2*n-1 is used to get the range

n = 5
for row in range(2*n-1):
    if row < n: # From row 0 to 4 one block of star will get printed
        for col in range(row+1):
            print('*', end=' ')
        
        # To print spaces
        for col in range(n-row-1): # Minus 1 added
            print('-', end=' ')
        
        # To print spaces
        for col in range(n-row-1): # Minus 1 added
            print('-', end=' ')

        # To print star
        for col in range(row+1):
            print('*', end=' ')


        print()
        

    else: # From row 5 to 9 other/remaining block of star gets printed
        for col in range(2*n-row-1):
            print('*', end=' ')
        
        # To print spaces
        for col in range(row-n+2-1): # Minus 1 added
            print('-', end=' ')

        # To print spaces
        for col in range(row-n+2-1): # Minus 1 added
            print('-', end=' ')

        # To print star
        for col in range(2*n-row-1):
            print('*', end=' ')
        
        print()

* - - - - - - - - *
* * - - - - - - * *
* * * - - - - * * *
* * * * - - * * * *
* * * * * * * * * *
* * * * - - * * * *
* * * - - - - * * *
* * - - - - - - * *
* - - - - - - - - *

In [41]:
# In this Symmetric Half Diamond 1 & Symmetric Half Diamond 2 codes are combined

# Total rows in outer loop are 9
# Hence 2*n-1 is used to get the range

n = 5
for row in range(2*n-1):
    if row < n: # From row 0 to 4 one block of star will get printed
        for col in range(row+1):
            print('*', end=' ')
        
        # To print spaces
        for col in range(n-row-1): # Minus 1 added
            print(' ', end=' ')
        
        # To print spaces
        for col in range(n-row-1): # Minus 1 added
            print(' ', end=' ')

        # To print star
        for col in range(row+1):
            print('*', end=' ')


        print()
        

    else: # From row 5 to 9 other/remaining block of star gets printed
        for col in range(2*n-row-1):
            print('*', end=' ')
        
        # To print spaces
        for col in range(row-n+2-1): # Minus 1 added
            print(' ', end=' ')

        # To print spaces
        for col in range(row-n+2-1): # Minus 1 added
            print(' ', end=' ')

        # To print star
        for col in range(2*n-row-1):
            print('*', end=' ')
        
        print()

*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

# 17 Half Pyramid Numbers

    1
    1 2
    1 2 3
    1 2 3 4
    1 2 3 4 5

In [42]:
n=5
for row in range(n):
    for col in range(row+1):
        print(col+1, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# 18. Half Pyramid Characters

    A
    A B
    A B C
    A B C D
    A B C D E

In [ ]:
n=5
char = 'A'
for row in range(n):
    for col in range(row+1):
        # ord gives ASCII value of A which is 65
        # So for col 0-> chr(0+65)= chr(65) -> A
        # And for col 1 -> char(1+65) = chr(66) -> B
        print(chr(col + ord(char)) , end=' ')
    print()

A
A B
A B C
A B C D
A B C D E

# 19. Numbers Triangle

                1
            1   2   1
        1   2   3   2   1
    1   2   3   4   3   2   1

In [91]:
n = 4
for row in range(n):
    if row < n:
        # To print spaces
        for col in range(n-row):
            print(" ", end=' ')
        # To print stars
        for col in range(row+1):
            print(col + 1, end=' ')
        # To print stars
        # 0-0
        # 1-1
        # 2-2 1
        # 3-3 2 1
        for col in reversed(range(row)):
            print(col+1, end=' ')
        
        print()

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1